body {
  background: #111;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

main {
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  margin: 16px auto;
  display: flex;
  justify-content: center;
}

.panel img {
  height: 110px;
  margin-bottom: 4px;
}

.stop {
  cursor: pointer;
  height: 32px;
  background: #ef454a;
  box-shadow: 0 4px 0 #d1483e;
  border-radius: 16px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  user-select: none;
}

#spin {
  cursor: pointer;
  width: 280px;
  height: 36px;
  background: #ec6f00;
  border-radius: 18px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  user-select: none;
  margin: 0 auto 16px;
}
#drow-card {
  cursor: pointer;
  width: 280px;
  height: 36px;
  background: #2DD63E;
  border-radius: 18px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  user-select: none;
  margin: 0 auto;
}

.unmatched {
  opacity: 0.5;
}
